.edit-shoe-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-shoe-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}

.edit-shoe-form {
    display: flex;
    flex-direction: column;
}

.edit-shoe-form label {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.edit-shoe-form input,
.edit-shoe-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}


.edit-shoe-form input:focus,
.edit-shoe-form select:focus {
    border-color: #007BFF;
    outline: none;
}

.edit-shoe-form .color-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-shoe-form .color-input-container input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.sizes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.edit-shoe-form .size-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.edit-shoe-form .size-input input {
    width: 90px;
    text-align: center;
}

.sizes-container #remove-size-button {
    background-color: #6c757d;
}

.sizes-container #remove-size-button:hover {
    background-color: #495057;
}

.sizes-container #add-size-button {
    background-color: #17a2b8;
}

.sizes-container #add-size-button:hover {
    background-color: #138496;
}

.edit-shoe-form button {
    padding: 10px;
    width: 90px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-shoe-form button:hover {
    background-color: #0056b3;
}


.edit-shoe-form .save-button {
    margin-top: 20px;
    font-size: 1.7rem;
    padding: 15px;
    margin: 0 auto;
}

.delete-button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: #b42513;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #881d0f;
}