.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    position: relative; 
    z-index: 1000;
}

.header-logo {
    height: 48.75px;
    width: 123.6px;
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
    color: white;
}

.nav-links li:hover {
    color: #00aaff;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
}

.header-panel {
    display: flex;
}

.header-panel ul {
    display: flex;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-panel ul li {
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header-panel ul li:hover {
    color: #00aaff;
}

@media (max-width: 768px) {
    .header{
        background-color: #333;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 70px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
}
