@import url('https://fonts.googleapis.com/css?family=Anton');
.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 500px rgba(255, 255, 255, 0.548);
    margin-top: 50px;
}

.main-logo-text {
    color: white;
    font-size: 15rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1rem;
    user-select: none;
    transform: scale(1.5);
}
