.color-circle-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.color-circle {
    margin: 15px;
    cursor: pointer;
    border: 5px solid white;
    width: 35px;
    height: 35px;
    padding: 19px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color-circle:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .color-circle-container{
    margin-bottom: 50px; 
    }
    .color-circle {
        width: 25px;
        height: 25px;
        padding: 14px;
        margin: 5px;
    }
}